<footer>
    <div class="container">
        <div class="footer-links">
            <ul>
                <li><a href="#">O nás</a></li>
                <li><a href="#">Služby</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Kariéra</a></li>
                <li><a href="#">Ochrana soukromí</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#"><img src="http://www.w3.org/2000/svg" alt="Facebook" /></a>
            <a href="#"><img src="linkedin.png" alt="LinkedIn" /></a>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2024 Generali Česká pojišťovna. Všechna práva vyhrazena.</p>
        </div>
    </div>
</footer>