<header>
    <div class="container">
        <div class="logo">
            <img a href="index.html" src="https://cdn.cookielaw.org/logos/9c77c67c-9081-4560-abb9-0f9a0658fcd8/37672d3a-0a34-46b8-9f30-1a1cd974f52e/bb8a33f8-8ce1-4d51-b9e0-e014dce7f8dd/logo-ge-cp_(1).png" alt="Generali Logo" />
        </div>
        <nav class="nav">
            <ul>
                <li><a href="#">O nás</a></li>
                <li><a href="#">Služby</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Kariéra</a></li>
            </ul>
        </nav>
        <div class="language">
            <a href="#">CZ</a> | <a href="#">EN</a>
        </div>
    </div>
</header>